---
import { contentfulClient } from '../lib/contentful';
import { ExecutiveBoard, Officers } from '../lib/contentful';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import FeatureHeading from '../components/FeatureHeading.astro';
import Feature from '../components/Feature.astro';
import FeatureLineItem from '../components/FeatureLineItem.astro';

const officersList = await contentfulClient.getEntries<Officers>({
  content_type: 'officers',
});

const officers = officersList.items.map((item) => {
  const { title, name, local, order } = item.fields;
  const nameParts = name.split(' ');
  const initials = nameParts.map((part) => part.charAt(0)).join('');
  return {
    title,
    name,
    initials,
    local,
    order,
  };
});

const executiveBoardList = await contentfulClient.getEntries<ExecutiveBoard>({
  content_type: 'executiveBoard',
});

const executiveBoard = executiveBoardList.items.map((item) => {
  const { local, members } = item.fields;
  return {
    local,
    members,
  };
});
const title = 'Executive Board';
---

<DefaultLayout
  title={title}
  description='Officers and Executive Board members of Tri-County Labor Club.'
>
  <section class='labor-club-page'>
    <div class='space-content container'>
      <h1>{title}</h1>
      <p class='intro'></p>
      <FeatureHeading heading='Officers' />
      <div class='officers'>
        {
          officers
            .sort((a, b) => a.order - b.order)
            .map((officer) => (
              <div
                class={`officer ${officer.title.toLowerCase().replaceAll(' ', '-')}`}
              >
                <div class='circle'>
                  <span class='circle-inner'>{officer.initials}</span>
                </div>
                <span class='title'>{officer.title}</span>
                <span class='name'>{officer.name}</span>
                <span class='local'>{officer.local}</span>
              </div>
            ))
        }
      </div>
      <FeatureHeading heading='Executive Board' />
      <div class='labor-club-grid'>
        {
          executiveBoard
            .sort((a, b) => a.local.localeCompare(b.local))
            .map((board) => (
              <Feature title={board.local}>
                {board.members.map((member) => (
                  <FeatureLineItem field={member} image='/icons/user.svg' />
                ))}
              </Feature>
            ))
        }
      </div>
    </div>
  </section>

  <style>
    .officers {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      gap: 2rem;
    }

    .officer {
      flex: 1 1 30%;
    }

    .president,
    .vice-president {
      flex-basis: 45%;
    }

    @media (max-width: 768px) {
      .officer {
        flex-basis: 100%;
      }
    }

    .circle {
      display: inline-block;
      background-color: var(--neutral-600);
      margin: 5px;
      border-radius: 50%;
    }

    .circle-inner {
      color: var(--neutral-100);
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      height: 60px;
      width: 60px;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .name {
      font-size: 18px;
    }

    .local {
      font-size: 1rem;
    }

    span {
      display: block;
    }

    .labor-club-page {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .intro {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .labor-club-grid {
      gap: 3rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      display: grid;
    }
    @media (min-width: 768px) {
      .labor-club-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    @media (min-width: 1024px) {
      .labor-club-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  </style>
</DefaultLayout>
